@media (max-width: 991px) {
    .po_items_ho {
      column-count: 1;
    }
  }

  .modal-body {
    background-color: var(--bg-color);
  }
  
.po_items_ho {
    column-width: 27em;
    -moz-column-width: 27em;
    -webkit-column-width: 27em;
    column-gap: 1rem;
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    align-items: stretch;
}

.po_item {
    display: inline-block;
    width: 100%;
    height: 50vh;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--overlay-color);
    /* padding: .5rem; */
    /* border: 1px solid var(--secondary-color); */
    transition: 0.3s ease;
    /* font-size: 0; */
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.po_item .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 10%;
    background-size: cover;
}

.po_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
}

.po_item .content {
    opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px;
}

.po_item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.po_item:hover .content {
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    opacity: 1;
    border-radius: 5px;
}

.po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}

.po_modal {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.po_modal .img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 30%;
    background-size: 100%;
    object-fit: cover;
}

.po_header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--bg-color);
    opacity: .9;
}

.po_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    /* background-color: var(--bg-color); */
    opacity: .9;
}

.po_body {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    background-color: var(--bg-color);
}

.po_footer .btn, .ac_btn  {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
    transition: all .3s ease-in-out;
}
.po_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 5px;
}

.po_skills li {
    background-color: var(--overlay-color)!important;
    color: var(--text-color); 
    border: 1px solid var(--text-color);
    padding: .17rem .5rem;
    border-radius: 5px;
    
}

.download {
    position: 'absolute';
    display: flex;
    justify-content: flex-end;
    align-items: center;
}